@font-face {
    font-family: "Raleway";
    src: url("../css/fonts/Raleway/static/Raleway-Light.ttf");
}
@font-face {
    font-family: "Raleway";
    src: url("../css/fonts/Raleway/static/Raleway-Medium.ttf");
}

body{
    font-family: "Raleway Medium";
    background-color: #333;
    color: #fff;
}

header{
    margin-bottom: 20px;
}

main p{
    color: lightslategray;
}

